<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
</header>
  <h3>List of pages<h3>
  <ul>
    <% for(let shortForm in urls){ %>
      <li><%= shortForm %> - <%= urls[shortForm] %>
        <a href= '/urls/<%= shortForm %>'>Edit</a>
        <form method="POST" action="/urls/<%= shortForm %>/delete"> <input type="submit" value="Delete"> </form>
      </li>
    <% } %>
  </ul>
<a href='/urls/new''>Link for shortening a new URL</a>
</body>
</html>