<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
</header>
<p>ShortURL : <%= shortURL %>
         <form method="POST" action="/urls/<%= shortURL %>/update">
            <input id="newLongURL" type="text" name="newLongURL" value="<%=longURL%>" style="width: 300px">
            <input type="submit" value="Update">
        </form>
</p>
</body>
</html>