<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
</header>
  <h2>Shortened URL<h2>
  <ul>
      <li><%= longURL %> : <%= shortURL %></li>
  </ul>
<a href='#''>Link for shortening a new URL</a>
</body>
</html>